.stages{
    background-color: #F1EDE4;
}

.stage__content {
    display: flex;
    margin: 0;
}

.stages__container {
    display: flex;
    background: #F1EDE4;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

.stages__big-img {
    margin-left: -220px;
}

.stages__small-img {
    position: absolute;
    margin-left: -100px;
    margin-top: 270px;
}

.stage__man {
    margin-left: 300px;
    margin-top: 114px;
}

.stage__title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    font-feature-settings: 'liga' off;
    color: #3C3838;
    padding-bottom: 19px;
}

.stage__suptitle {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
    color: #3C3838;
    padding-bottom: 111px;
}

.stage__item {
    max-width: 50%;
    list-style: decimal;
    border-radius: 100px;
}

.stage__item-title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #3C3838;
    padding-bottom: 10px;
}

.stage__item-description {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    font-feature-settings: 'liga' off;
    color: #3C3838;
    padding-bottom: 90px;
}

.stage__list {
    display: flex;
    flex-wrap: wrap;
}

.stage__wrapper {
    margin-left: -20%;
}

.stages-mobile {
    background: #F1EDE4;
    display: none;
}

.stages-mobile-list {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

.stages-mobile-list li {
    display: flex;
    margin: 20px 0;
}

.stages-mobile-list li div {
    margin: 0;
}

.stages-mobile-list li div span {
    display: inline-block;
    width: 35px;
    height: 28px;
    text-align: center;
    background: #F4F5F7;
    border-radius: 50%;
    border-radius: 50%;
    padding: 15px;
    font-size: 25px;
    /* margin: 10px 0; */
}

.stages-mobile-list li>div:last-child {
    margin-left: 30px;
}

.stages-mobile-list h4 {
    font-size: 24px;
    font-weight: 400;
}

.stages-mobile-list p {
    font-size: 22px;
    font-weight: 400;
    margin-top: 30px;
    color: #3C3838;
}

.stages-mobile-images {
    display: flex;
    justify-content: space-between;
}

.stages-mobile-images div {
    width: 49%;
}

.stages-mobile-images img {
    width: 100%;
}

@media all and (max-width: 1147px) {
    .stages {
        display: none;
    }
    .stages-mobile {
        display: block;
    }
}